.empty-wishlist .return-to-shop a {
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.417em;
    letter-spacing: 0.1em;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    width: auto;
    margin: 0;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0;
    outline: 0;
    transition: color 0.25s ease-out, background-color 0.25s ease-out, border-color 0.25s ease-out;
    padding: 9px 44px;
    cursor: pointer;
    z-index: 3;
    color: #fff;
    background-color: #000;
    border: 1px solid transparent;
}
#fx-page-inner .empty-wishlist .return-to-shop a:hover {
    color: #000;
    background-color: #fff;
    border-color: #000;
}

.fx-category-filter .fx-category-list a {
    padding: 2px 5px 2px 2px !important;
}

.product-border {
    border: 1px solid #000 !important;
}


.checkout-billing-details .checkout-billing-details-wrap textarea {
    margin: 0 0 23px;
    width: 100%;
    vertical-align: top;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: "Noto Sans", sans-serif;
    font-size: 13px;
    font-weight: inherit;
    line-height: 18px;
    letter-spacing: 0.05em;
    outline: 0;
    padding: 14.5px 22px;
    transition: color 0.25s ease-out, background-color 0.25s ease-out, border-color 0.25s ease-out;
    background-color: transparent;
    border-color: #000;
    color: #000;
}

.price-range-wrap {
    padding-top: 8px;
}

    .price-range-wrap .price-range {
        border-radius: 0;
        margin-bottom: 20px;
    }

        .price-range-wrap .price-range.ui-widget-content {
            border: none;
            background: #c2c2c2;
            height: 1px;
            box-shadow: none;
            position:relative;
        }

            .price-range-wrap .price-range.ui-widget-content .ui-slider-range {
                background-color: #000;
                border-radius: 0;
            }

            .price-range-wrap .price-range.ui-widget-content .ui-slider-handle {
                border: 1px solid #000;
                background-color: #fff;
                outline: none;
                top: -5px;
                cursor: ew-resize;
                border-radius: 50%;
                width: 10px !important;
                height: 10px !important;
                position:absolute
            }

    .price-range-wrap .range-slider {
        color: #333333;
        margin-top: 22px;
    }

        .price-range-wrap .range-slider .price-input label {
            color: #333333;
            margin-bottom: 0;
        }

        .price-range-wrap .range-slider .price-input input {
            color: #666666;
            border: none;
            outline: none;
            pointer-events: none;
        }

        .price-range-wrap .range-slider button.filter-btn {
            border: none;
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;
            text-transform: uppercase;
            line-height: 36px;
            padding: 0 15px;
            border-radius: 3px;
            background-color: #000;
            float: right;
        }

.top-bar-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 19px;
    color: #030303;
}

@media only screen and (max-width: 479.98px) {
    .top-bar-right {
        display: block;
        text-align: center;
    }
}

.top-bar-right .product-short {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media only screen and (max-width: 479.98px) {
    .top-bar-right .product-short {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 15px;
    }
}

.top-bar-right .product-short p {
    margin-right: 10px;
}

@media only screen and (max-width: 575.98px) {
    .top-bar-right .product-short p {
        font-size: 14px;
    }
}

.top-bar-right .product-amount p {
    color: #666666;
    text-transform: capitalize;
}

@media only screen and (max-width: 575.98px) {
    .top-bar-right .product-amount p {
        font-size: 14px;
    }
}

.nice-select {
    width: 200px;
    font-size: 16px;
    padding: 0 10px;
    margin-bottom: 1rem;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 19px;
    color: #030303;
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .nice-select {
        width: 170px;
    }
}

.nice-select.open {
    border-color: #e3a51e;
}

.nice-select .list {
    right: 0;
    left: auto;
    width: 100%;
}

.nice-select .option {
    font-size: 13px;
    line-height: 34px;
    min-height: 34px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 19px;
    color: #030303;
}

.nice-select:after {
    width: 8px;
    height: 8px;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
}

.sidebar-search {
    margin: 40px 0 35px !important;
}

.season-select, .gender-select {
    width: 100%;
    border: 1px solid;
    padding: 5px;
}

#fx-page-mobile-header {
    background-color: #fff;
    position: relative;
    display: none;
    height: 70px;
    z-index: 100;
}

#fx-page-mobile-header-inner {
    justify-content: flex-end;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 7%;
}

    #fx-page-mobile-header-inner .fx-mobile-header-logo-link {
        margin-right: auto;
        position: relative;
        display: flex;
        align-items: center;
        max-height: 100%;
    }

#fx-page-mobile-header .fx-mobile-header-logo-link img {
    display: block;
    margin: auto 0;
    width: auto;
    max-height: 100%;
    transition: opacity .3s ease;
}

#fx-page-mobile-header .fx-widget-holder {
    display: flex;
    align-items: center;
    height: 100%;
}

    #fx-page-mobile-header .fx-widget-holder .widget {
        margin: 0 0 0 12px;
        display: flex;
        align-items: center;
    }

#fx-page-mobile-header .fx-dropdown-cart-inner {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

#fx-page-mobile-header .widget a {
    color: #000;
}

#fx-page-mobile-header .fx-opener {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0;
    font-family: "Noto Sans",sans-serif;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .1em;
    text-transform: uppercase;
}

    #fx-page-mobile-header .fx-opener .fx-opener-text {
        margin-right: 8px;
    }

    #fx-page-mobile-header .fx-opener .fx-opener-icon {
        display: flex;
        margin-bottom: 3px;
    }

    #fx-page-mobile-header .fx-opener .fx-opener-count {
        margin-left: 5px;
    }

.fx-mobile-header-opener {
    position: relative;
    font-size: 20px;
    margin-left: 20px;
}

.fx-mobile-header-navigation {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: calc(100vh - 70px);
    background-color: #fff;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 10;
}

    .fx-mobile-header-navigation > ul {
        margin: 0 auto;
        padding: 34px 18px;
    }

.fx-mobile-header-navigation ul li {
    position: relative;
    margin: 0;
    padding: 8px 0;
}

.fx-mobile-header-navigation > ul > li > a {
    font-weight: 400;
    color: #000;
    font-size: 11px;
    font-weight: 600;
    line-height: 1.455em;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-family: "Noto Sans",sans-serif;
}

@media (max-width: 576px) {
    
    #fx-page-mobile-header {
        display: block;
    }

    #fx-page-header {
        display: none !important;
    }

    .slick-slide img {
        object-position: 0;
    }

    .slider-header {
        left: 85px !important;
        top: 310px !important;
        font-size: 30px !important;
    }

    .slider-desc {
        font-size: 12px !important;
        width: 45% !important;
        left: 85px !important;
        top: 370px !important;
    }

    .slider-btn {
        top: 438px !important;
        left: 85px !important;
    }

        .slider-btn .slider-link-btn {
            padding: 7px 14px !important;
            font-size: 10px !important;
        }

    .fx-nav-left {
        top: 68%;
        left: -25px;
    }

    .fx-nav-right {
        top: 68%;
    }

    .slider-progress {
        width: 50%;
    }


    .fx-filter-holder .fx-category-filter .fx-category-list a {
        font-size: 8px !important;
        margin:0 !important;
    }

    .products{
        padding-bottom:60px;
    }

    .email .elementor-container {
        width: 380px !important;
        padding:0 !important;
        margin: auto;
    }

    .features{
        display: flex;
        flex-direction:column;
    }

    .features .features-item {
        border-width: 1px 0px 0px 0px !important;
    }

    .category-title-holder{
        width:100% !important;
        padding: 0 !important;
    }
    .fx-filter-holder .fx-category-filter .fx-category-list li {
        margin: 0 !important;
    }

    .category-title-holder .button {
        padding: 11px 25px !important;
    }

    .category-title-holder h1 {
        font-size: 40px;
    }
}

.fx--close{
    display: none;
}

.fx--open{
    display: block;
}


.index-active{
    border-bottom: 1px solid #000;
}


.contact-page-title {
    height: 375px;
    background-color: rgba(255,255,255,0);
    background-image: url(https://corsen.qodeinteractive.com/wp-content/uploads/2022/10/Order-tracking-title-img.jpg);
}

    .contact-page-title .wishlist-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align:center;
    }

.contact-info ul{
    padding-left: 0 !important;
}



.products {
    padding-bottom: 95px !important;
}