#fx-page-inner {
  position: relative;
  padding: 94px 0 140px;

  .empty-basket {
    .cart-empty {
      font-weight: 400;
      color: #000;
      font-size: 35px;
      line-height: 1.2em;
      font-family: "Noto Sans", sans-serif;
      margin: 0;
      align-items: center;
      border: none;
      justify-content: center;
      display: flex;
    }

    .return-to-shop {
      margin: 20px 0 0;
      text-align: center;

      a {
        font-family: "Noto Sans", sans-serif;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.417em;
        letter-spacing: 0.1em;
        position: relative;
        display: inline-flex;
        vertical-align: middle;
        width: auto;
        margin: 0;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 0;
        outline: 0;
        transition: color 0.25s ease-out, background-color 0.25s ease-out,
          border-color 0.25s ease-out;
        padding: 9px 44px;
        cursor: pointer;
        z-index: 3;
        color: #fff;
        background-color: #000;
        border: 1px solid transparent;

        &:hover {
          color: #000;
          background-color: #fff;
          border-color: #000;
        }
      }
    }
  }

  #card-list {
    table {
      width: 100%;
      vertical-align: middle;
      border: medium none;
      border-collapse: collapse;
      border-spacing: 0;
      font-size: inherit;
      color: inherit;
      line-height: inherit;

      tr {
        border: 1px solid #000;
        border-left: none;
        border-right: none;
        border-top: none;

        th {
          font-weight: 400;
          color: #000;
          line-height: 1.375em;
          font-family: "Noto Sans", sans-serif;
          font-size: 19px;
          padding: 13px 0 13px 13px;
          vertical-align: middle;
        }

        .screen-reader-text {
          position: absolute !important;
          width: 1px;
          height: 1px;
          margin: -1px;
          padding: 0;
          line-height: 1;
          clip: rect(1px, 1px, 1px, 1px);
          clip-path: inset(50%);
          border: 0;
          word-wrap: normal !important;
          overflow: hidden;
        }

        .product-remove {
          width: 30px;
        }

        .product-thumbnail {
          width: 68px;
          padding-left: 0;
        }

        .product-name {
          text-align: left;
          padding-left: 24px;
        }

        td {
          padding: 13px 0 13px 13px;
          vertical-align: middle;
          text-align: left;
        }

        td.product-remove {
          width: 30px;
          a {
            font-size: 20px;
          }
        }

        td.product-thumbnail {
          width: 68px;
          padding-left: 0;

          a {
            display: block;
            width: 100%;
            max-width: 100%;

            img {
              height: 77px;
              object-fit: cover;
              will-change: transform;
              border: 1px solid #000;
              display: block;
              width: 100%;
              max-width: 100%;
            }
          }

          
        }

        td.product-name {
          text-align: left;
          padding-left: 24px;

          a {
            color: #000;
            line-height: 1.375em;
            font-family: "Noto Sans", sans-serif;
            font-size: 13px;
            font-weight: 500;
            letter-spacing: 0.1em;
            text-transform: uppercase;
          }
        }

        td.product-price {
          font-size: 16px;
        }

        .fx-quantity-buttons {
          position: relative;
          display: inline-block;
          vertical-align: middle;

          .fx-quantity-minus {
            bottom: 1px;
            left: 0;
            position: absolute;
            right: 0;
            width: 18px;
            height: 18px;
            line-height: 23px;
            cursor: pointer;
            transition: color 0.25s ease-out;
            font-size: 16px;
            font-family: inherit;
            font-weight: 400;
            text-align: center;
            user-select: none;
            color: #000;
            background-color: transparent;
            border: 1px solid #000;

            &::before {
              content: "";
              position: absolute;
              top: 50%;
              left: calc(50% - 4px);
              width: 8px;
              height: 1px;
              background-color: currentColor;
            }

            &::after {
              content: "";
              position: absolute;
              top: 50%;
              left: calc(50% - 4px);
              width: 8px;
              height: 1px;
              background-color: currentColor;
            }
          }

          .fx-quantity-input {
            border: 0;
            position: relative;
            height: 18px;
            width: 48px;
            padding: 0;
            margin: 0 18px 0 18px;
            font-family: inherit;
            line-height: 18px;
            outline: 0;
            font-size: 16px;
            font-weight: 400;
            text-align: center;
            user-select: none;
            color: #000;
            background-color: transparent;
          }

          .fx-quantity-plus {
            bottom: 1px;
            position: absolute;
            right: 0;
            width: 18px;
            height: 18px;
            line-height: 23px;
            cursor: pointer;
            transition: color 0.25s ease-out;
            font-size: 16px;
            font-family: inherit;
            font-weight: 400;
            text-align: center;
            user-select: none;
            color: #000;
            background-color: transparent;
            border: 1px solid #000;

            &::before {
              content: "";
              position: absolute;
              top: 50%;
              left: calc(50% - 4px);
              width: 8px;
              height: 1px;
              background-color: currentColor;
            }

            &::after {
              content: "";
              position: absolute;
              top: 50%;
              left: calc(50% - 4px);
              width: 8px;
              height: 1px;
              background-color: currentColor;
              transform: rotate(90deg);
            }
          }
        }

        td.actions {
          padding: 33px 0 0;
          text-align: initial;

          > .button {
            float: right;
          }

          button {
            padding: 11px 33px;
            font-family: "Noto Sans", sans-serif;
            font-size: 12px;
            font-weight: 600;
            line-height: 1.417em;
            letter-spacing: 0.1em;
            position: relative;
            display: inline-flex;
            vertical-align: middle;
            width: auto;
            margin: 0;
            text-decoration: none;
            text-transform: uppercase;
            border-radius: 0;
            outline: 0;
            transition: color 0.25s ease-out, background-color 0.25s ease-out,
              border-color 0.25s ease-out;
            cursor: pointer;
            z-index: 3;
            color: #000;
            background-color: transparent;
            border: 1px solid #000;

            &:hover {
              color: #fff;
              background-color: #000;
              border-color: #000;
            }
          }

          .coupon {
            position: relative;
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            width: 70%;
            float: left;

            input {
              border-style: solid;
              border-width: 1px;
              cursor: pointer;
              font-family: "Noto Sans", sans-serif;
              font-size: 13px;
              width: auto;
              margin-right: 22px;
              padding: 11px 9px;
              border-top: 0;
              border-left: 0;
              border-right: 0;
              letter-spacing: 0;
              background-color: transparent;
              border-color: #000;
              color: #000;
            }
          }
        }
      }

      tbody > tr {
        &:last-child {
          border-bottom: 0;
        }
      }
    }

    .cart_totals {
      margin-top: 125px;

      > h2 {
        font-weight: 400;
        color: #000;
        font-size: 35px;
        line-height: 1.2em;
        font-family: "Noto Sans", sans-serif;
        margin: 0 0 42px;
        display: none;
      }

      table {
        width: 100%;
        vertical-align: middle;
        border: medium none;
        border-collapse: collapse;
        border-spacing: 0;
        font-size: inherit;
        color: inherit;
        line-height: inherit;

        tr {
          border: 1px solid #000;
          border-left: none;
          border-right: none;
          border-top: none;
        }

        th {
          width: 29%;
          padding: 16px 0 16px 13px;
          font-weight: 400;
          color: #000;
          line-height: 1.375em;
          font-family: "Noto Sans", sans-serif;
          font-size: 19px;
        }

        td {
          padding: 16px 0 16px 13px;
          vertical-align: middle;
          text-align: left;

          ul {
            list-style: none;
            padding: 0;
            margin: 0;
          }
        }

        .order-total {
          border: 1px solid #000;
          border-left: none;
          border-right: none;
          border-top: none;
        }
      }

      .fx-proceed-to-checkout {
        margin-top: 33px;
        padding: 11px 33px;
        font-family: "Noto Sans", sans-serif;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.417em;
        letter-spacing: 0.1em;
        position: relative;
        display: inline-flex;
        vertical-align: middle;
        width: auto;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 0;
        outline: 0;
        transition: color 0.25s ease-out, background-color 0.25s ease-out,
          border-color 0.25s ease-out;
        padding: 11px 49px;
        cursor: pointer;
        z-index: 3;
        color: #000;
        background-color: transparent;
        border: 1px solid #000;

        &:hover {
            a{
                color: #fff !important;
            }
            background-color: #000;
            border-color: #000;
          }
      }
    }
  }
}
