.fx-page-title {
    text-align: right;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 90px;

    .fx-breadcrumbs {
        padding-right: 70px;

        a,
        span {
            font-family: "Nano Sans", sans-serif;
            font-size: 12px;
            font-weight: 400;
            letter-spacing: .05em;
            line-height: 16px;
            text-transform: uppercase;
            color: #000;
        }

        .fx-breadcrumbs-separator {
            margin: 0 15px 0 14px;
            height: 9px;
            width: 1px;
        }

    }
}

.fx-results {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3px;

    .fx-result-count {
        font-family: "Nunito Sans", sans-serif;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 19px;
        color: #030303;
    }

    .fx-ordering {
        border-radius: 0;
        cursor: pointer;
        display: block;
        font-family: inherit;
        font-size: 14px;
        font-weight: 400;
        height: auto;
        line-height: 19px;
        margin: 0;
        outline: 0;

    }
}

.shop-products {
    .fx-e:hover .fx-product-image-inner {
        opacity: 1;
    }

    .fx-e:hover .fx-product-image img {
        transform: translateX(var(--qodef-img-move)) translateZ(0) scale(var(--qodef-img-scale))
    }

    .fx-product-image {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 100%;
        overflow: hidden;
        

        .fx-product-image-inner {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-direction: column;
            padding: 20px 40px 20px;
            text-align: center;
            opacity: 0;
            transition: all .4s ease-out;
            border: 1px solid transparent;

            .button {
                background-color: #fff;
                padding: 11px 33px;
                font-family: "Noto Sans", sans-serif;
                font-size: 12px;
                font-weight: 600;
                line-height: 1.417em;
                letter-spacing: .1em;
                position: relative;
                display: inline-flex;
                vertical-align: middle;
                width: auto;
                margin: -10px;
                text-decoration: none;
                text-transform: uppercase;
                border-radius: 0;
                outline: 0;
                transition: color .25s ease-out, background-color .25s ease-out, border-color .25s ease-out;
                padding: 11px 33px;
                cursor: pointer;
                z-index: 3;
                color: #000;
                border: 1px solid #000;

            }

            .add_to_cart_button:hover{
                background-color: #000;
                color: #fff;
            }

            .fx-add-to-wishlist {
                position: absolute;
                top: 21px;
                right: 14px;
                font-family: "Noto Sans", sans-serif !important;
                font-size: 0 !important;
                margin: 0 !important;
                padding: 0 !important;
                line-height: 1 !important;
                background-color: transparent !important;
                opacity: 0;
                transform: translateY(10px);
                transition: .5s cubic-bezier(.12, .48, .05, .96);

                a {
                    color: #fff !important;

                    :before {
                        content: '';
                        display: inline-block;
                        background: url(../images/wishlist-add.svg) center center no-repeat;
                        background-size: cover;
                        width: 13px;
                        height: 15px;
                        margin-right: 13px;
                    }

                    :after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: inline-block;
                        background: url(../images/wishlist-added.svg) center center no-repeat;
                        background-size: cover;
                        width: 13px;
                        height: 15px;
                        margin-right: 13px;
                        opacity: 0;
                        transition: opacity .25s ease-out;
                    }
                }
            }

            .fx-button {
                opacity: 0;
                transform: translateY(10px);
                transition: .5s cubic-bezier(.12, .48, .05, .96);

                :before {
                    content: '';
                    display: inline-block;
                    background-size: cover;
                    width: 16px;
                    height: 9px;
                    margin-right: 13px;
                    color: transparent;
                    background-image: radial-gradient(at 50% 50%,currentColor 2px,#0000 2px),url(../images/quick-view.svg);
                    transition: color .25s ease-out;
                }


            }
        }

        img {
            display: block;
            width: 100%;
            will-change: transform;
            transform-origin: center;
            --qodef-img-move: 8px;
            --qodef-img-scale: 1.1;
            transform: translateX(0) translateZ(0) scale(var(--qodef-img-scale));
            transition: transform .5s cubic-bezier(.33,.02,0,.93)
        }

        :hover .fx-product-image-inner {
            opacity: 1;
        }
    }

    .fx-product-content {
        position: relative;
        display: inline-block;
        width: 100%;
        vertical-align: top;
        margin-top: 13px;
        margin-bottom: 23px;
        padding: 0;
        border: none;

        .fx-product-title {
            text-transform: uppercase;
            transition: color .25s ease-out;
            max-width: 74%;
            text-align: start;
            margin-bottom: 0;
        }

        .fx-e-info>* {
            font-weight: 400;
            color: #000;
            font-size: 13px;
            line-height: 1.38462em;
            letter-spacing: .05em;
            font-weight: 500;
            font-family: "Noto Sans", sans-serif;
            display: inline-flex;
            vertical-align: middle;
            flex-wrap: wrap;
            color: #000;
        }

        .price {
            float: right;
            position: absolute !important;
            top: -4px;
            right: 0;
            text-align: right;
        }
    }
}

.fx-pagination {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 89px;

    .page-numbers {
        position: relative;
        margin: 0 17px;
        font-family: "Nunito Sans",sans-serif;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: .05em;
        line-height: 19px;
    }

    .current{
        --fx-underline-position-y: 1.3em;
    --fx-underline-height: 1px;
    background-repeat: no-repeat;
    background-image: linear-gradient(90deg,currentColor 0,currentColor 100%);
    transition: background-size .4s cubic-bezier(.51,.5,.07,.99),color .2s ease-out;
    background-size: 100% var(--fx-underline-height);
    background-position: 0 var(--fx-underline-position-y);
    }
}