@model Banner

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Banner Create</h1>
        </div>
        <div class="col-md-8">
            <form method="post" asp-action="create" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Title">Title</label>
                    <input asp-for="Title" class="form-control">
                    <span class="text-danger" asp-validation-for="Title"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SubTitle1">SubTitle1</label>
                    <input asp-for="SubTitle1" class="form-control">
                    <span class="text-danger" asp-validation-for="SubTitle1"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SubTitle2">SubTitle2</label>
                    <input asp-for="SubTitle2" class="form-control">
                    <span class="text-danger" asp-validation-for="SubTitle1"></span>
                </div>

                <div class="form-group">
                    <label asp-for="BtnText">BtnText</label>
                    <input asp-for="BtnText" class="form-control">
                    <span class="text-danger" asp-validation-for="BtnText"></span>
                </div>

                <div class="form-group">
                    <label asp-for="BtnUrl">BtnUrl</label>
                    <input asp-for="BtnUrl" class="form-control">
                    <span class="text-danger" asp-validation-for="BtnUrl"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ImageFile">ImageFile</label>
                    <input asp-for="ImageFile" class="form-control" onchange="readURL(this);">
                    <span class="text-danger" asp-validation-for="ImageFile"></span>
                    <img id="sliderImage" src="http://placehold.it/180" alt="slider image" />
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>



@section Scripts{
    @Html.Partial("_ValidationScriptsPartial")
}